* {    box-sizing: border-box;    }
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5em; /* Sets line-height for reader accessibility */
  background-color: #181818; /* Dark mode website */
  color: #edeef3; /* white font color */
}
/* Positions the logo at the top left of the page */
#logo {
  float: left;
  margin-left: 1.34em;
}
#logo img {
  width: 100%;
  max-width: 32px;
  height: auto;
}
header a img {
  height: 2rem;  /* Allows image to be scaled with font size */
  position: absolute;
}
/* Holds the logo & puts the "Mujeres" style page at the top middle */
header h1 {
  min-height: 32px; /* Sets height to be equal with other pages */
  font-size: 2em; /* h1 automatically 2em but specified for clarity */
  text-align: center; /* Puts text in the middle of the h1 */
}
/* Sets font to bold & size to 125% for the appointment link to be more identifiable */
#cita {
  font-size: 125%;
  font-weight: bold;
}
#myBtn {
  background-color: #181818;
  border: 2px solid #edeef3;
  border-radius: 5px;
  cursor: pointer;
}
#myBtn:hover { background-color: gray; }
#myBtn:focus { background-color: gray;}
#myBtn:active { background-color: black; }
.fas { color: #edeef3; }
/* Holds the navigations to hairstyles page & appointments */
nav ul {
  margin: 0;
  padding: 1em 0; /* Padding to top & bottom to look more pleasing */
  list-style-type: none; /* Removes bullets normally applied to ul's */
  text-align: center; /* Puts text in the middle */
  border-top: 2px solid #edeef3; /* Adds a solid white border at the top */
  border-bottom: 2px solid #edeef3; /* Adds a solid white border at the bottom */
  box-shadow: 0px 1px 20px 1px; /* Adds a shadow to the border */
}
nav ul li {
  display: inline; /* Sets lists to inlines so links go on the same line */
  padding: 0 1.5em; /* Provides spacing on the left & right of the links */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modalBtnContent {
  position: relative;
  background-color: #181818;
  margin: auto;
  padding: 0;
  border: 1px solid #edeef3;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.closeBtn {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0.3em;
  top: 0.2em;
}
.closeBtn:link, .closeBtn:visited {    color: white;    }
.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: slategray;
  color: #edeef3;
  font-size: 120%;
  border-radius: 20px 20px 0 0;
}
/* The "show" class is added to the filtered elements */
.show {    display: inline;    }
/* Style the buttons */
.btn {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 12px 16px;
  margin: 2px 0;
  background-color: #edeef3;
  cursor: pointer;
  color: black;
}
/* Add a light grey background on mouse-over */
.btn:hover {    background-color: #ddd;    }
.btn:focus {    background-color: #ddd;    }
/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
main div {    text-align: center;    }
main div a {    text-decoration: none;    }
/* Scalable Images */
main div a img {
  width: 100%;
  max-width: 360px;
  height: 480px;
}
/* Scalable Videos */
main div video {
  width: auto;
  height: 100%;
  max-height: 480px;
}
.yesmobile { display: none; }
/* Link color of "aqua" when not visited */
a:link {    color: aqua;    }
/* Link color of "Electric Purple" when visited */
a:visited {    color: #bf00ff;    }
/* Sets footer to the bottom middle of the page */
footer #credit {
  border-top: 1px solid grey;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  position: relative;
}
footer #copyright {
  border-top: 1px solid grey;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4em;
}
/* Hidden until displayed in media queries */
footer #copyright2 {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .closeBtn { font-size: 45px; }
}
@media only screen and (max-width: 414px) {
  #myBtn { padding: .2em;}
  .nomobile {
    display: none;
  }
  .yesmobile {
    display: inline;
  }
  main div video {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
  footer #copyright { display: none; }
  footer #copyright2 { display: block; }
}